In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the data
raw_data_df = pd.read_csv("train.csv")

In [3]:
raw_data_df.head()

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,...,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,site_eui,id
0,1,State_1,Commercial,Grocery_store_or_food_market,61242.0,1942.0,11.0,2.4,36,50.5,...,14,0,0,0,1.0,1.0,1.0,NaN,248.682615,0
1,1,State_1,Commercial,Warehouse_Distribution_or_Shipping_center,274000.0,1955.0,45.0,1.8,36,50.5,...,14,0,0,0,1.0,NaN,1.0,12.0,26.500150,1
2,1,State_1,Commercial,Retail_Enclosed_mall,280025.0,1951.0,97.0,1.8,36,50.5,...,14,0,0,0,1.0,NaN,1.0,12.0,24.693619,2
3,1,State_1,Commercial,Education_Other_classroom,55325.0,1980.0,46.0,1.8,36,50.5,...,14,0,0,0,1.0,NaN,1.0,12.0,48.406926,3
4,1,State_1,Commercial,Warehouse_Nonrefrigerated,66000.0,1985.0,100.0,2.4,36,50.5,...,14,0,0,0,1.0,1.0,1.0,NaN,3.899395,4

In [4]:
# Information about the total data
raw_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75757 entries, 0 to 75756
Data columns (total 64 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year_Factor                75757 non-null  int64
 1   State_Factor               75757 non-null  object
 2   building_class             75757 non-null  object
 3   facility_type              75757 non-null  object
 4   floor_area                 75757 non-null  float64
 5   year_built                 73920 non-null  float64
 6   energy_star_rating         49048 non-null  float64
 7   ELEVATION                  75757 non-null  float64
 8   january_min_temp           75757 non-null  int64
 9   january_avg_temp           75757 non-null  float64
 10  january_max_temp           75757 non-null  int64
 11  february_min_temp          75757 non-null  int64
 12  february_avg_temp          75757 non-null  float64
 13  february_max_temp          75757 non-null  int64
 14  march_min_temp             75757 non-null  int64
 15  march_avg_temp             75757 non-null  float64
 16  march_max_temp             75757 non-null  int64
 17  april_min_temp             75757 non-null  int64
 18  april_avg_temp             75757 non-null  float64
 19  april_max_temp             75757 non-null  int64
 20  may_min_temp               75757 non-null  int64
 21  may_avg_temp               75757 non-null  float64
 22  may_max_temp               75757 non-null  int64
 23  june_min_temp              75757 non-null  int64
 24  june_avg_temp              75757 non-null  float64
 25  june_max_temp              75757 non-null  int64
 26  july_min_temp              75757 non-null  int64
 27  july_avg_temp              75757 non-null  float64
 28  july_max_temp              75757 non-null  int64
 29  august_min_temp            75757 non-null  int64
 30  august_avg_temp            75757 non-null  float64
 31  august_max_temp            75757 non-null  int64
 32  september_min_temp         75757 non-null  int64
 33  september_avg_temp         75757 non-null  float64
 34  september_max_temp         75757 non-null  int64
 35  october_min_temp           75757 non-null  int64
 36  october_avg_temp           75757 non-null  float64
 37  october_max_temp           75757 non-null  int64
 38  november_min_temp          75757 non-null  int64
 39  november_avg_temp          75757 non-null  float64
 40  november_max_temp          75757 non-null  int64
 41  december_min_temp          75757 non-null  int64
 42  december_avg_temp          75757 non-null  float64
 43  december_max_temp          75757 non-null  int64
 44  cooling_degree_days        75757 non-null  int64
 45  heating_degree_days        75757 non-null  int64
 46  precipitation_inches       75757 non-null  float64
 47  snowfall_inches            75757 non-null  float64
 48  snowdepth_inches           75757 non-null  int64
 49  avg_temp                   75757 non-null  float64
 50  days_below_30F             75757 non-null  int64
 51  days_below_20F             75757 non-null  int64
 52  days_below_10F             75757 non-null  int64
 53  days_below_0F              75757 non-null  int64
 54  days_above_80F             75757 non-null  int64
 55  days_above_90F             75757 non-null  int64
 56  days_above_100F            75757 non-null  int64
 57  days_above_110F            75757 non-null  int64
 58  direction_max_wind_speed   34675 non-null  float64
 59  direction_peak_wind_speed  33946 non-null  float64
 60  max_wind_speed             34675 non-null  float64
 61  days_with_fog              29961 non-null  float64
 62  site_eui                   75757 non-null  float64
 63  id                         75757 non-null  int64
dtypes: float64(24), int64(37), object(3)
memory usage: 37.0+ MB

### Categorical features
<p> The categorical features in this dataset are id, Year_Factor, State_Factor, building_class and facility_type.</p>
<p> Lets look at the values of each categories.</p>

In [47]:
pd.crosstab(index=raw_data_df["State_Factor"], columns="count")

col_0         count
State_Factor
State_1        5618
State_10         15
State_11       6412
State_2        4871
State_4        4300
State_6       50840
State_8        3701

In [50]:
pd.crosstab(raw_data_df["Year_Factor"], columns="count")

col_0        count
Year_Factor
1             2117
2             9058
3            10879
4            12946
5            18308
6            22449

In [54]:
pd.crosstab(raw_data_df["building_class"], columns="count")
#pd.crosstab(raw_data_df["building_class"], raw_data_df["site_eui"])

col_0           count
building_class
Commercial      32199
Residential     43558

In [52]:
pd.crosstab(raw_data_df["facility_type"], columns="count")

col_0                                      count
facility_type
2to4_Unit_Building                          1893
5plus_Unit_Building                         1273
Commercial_Other                            1744
Commercial_Unknown                            95
Data_Center                                   27
Education_College_or_university             1056
Education_Other_classroom                   3860
Education_Preschool_or_daycare               108
Education_Uncategorized                      709
Food_Sales                                    70
Food_Service_Other                            17
Food_Service_Restaurant_or_cafeteria          64
Food_Service_Uncategorized                    18
Grocery_store_or_food_market                 448
Health_Care_Inpatient                        409
Health_Care_Outpatient_Clinic                 56
Health_Care_Outpatient_Uncategorized          36
Health_Care_Uncategorized                     51
Industrial                                   384
Laboratory                                   107
Lodging_Dormitory_or_fraternity_sorority     669
Lodging_Hotel                               2098
Lodging_Other                                 75
Lodging_Uncategorized                          5
Mixed_Use_Commercial_and_Residential         672
Mixed_Use_Predominantly_Commercial           256
Mixed_Use_Predominantly_Residential            9
Multifamily_Uncategorized                  39455
Nursing_Home                                 772
Office_Bank_or_other_financial               173
Office_Medical_non_diagnostic                447
Office_Mixed_use                              18
Office_Uncategorized                       12512
Parking_Garage                               251
Public_Assembly_Drama_theater                 70
Public_Assembly_Entertainment_culture        110
Public_Assembly_Library                      160
Public_Assembly_Movie_Theater                 39
Public_Assembly_Other                        142
Public_Assembly_Recreation                    72
Public_Assembly_Social_meeting                88
Public_Assembly_Stadium                        9
Public_Assembly_Uncategorized                 25
Public_Safety_Courthouse                      38
Public_Safety_Fire_or_police_station         157
Public_Safety_Penitentiary                    37
Public_Safety_Uncategorized                   43
Religious_worship                            399
Retail_Enclosed_mall                         120
Retail_Strip_shopping_mall                   113
Retail_Uncategorized                        1130
Retail_Vehicle_dealership_showroom            74
Service_Drycleaning_or_Laundry                 9
Service_Uncategorized                         68
Service_Vehicle_service_repair_shop          138
Warehouse_Distribution_or_Shipping_center    604
Warehouse_Nonrefrigerated                   1255
Warehouse_Refrigerated                       113
Warehouse_Selfstorage                        577
Warehouse_Uncategorized                      330

### Continuous features
The continuous features in this dataset are floor area, energy_star_rating, elevation, january_min_temp, january_avg_temp, january_max_temp (similar for all months), cooling_degree_days, heating_degree_days, precipitation_inches, snowfall_inches, snowdepth_inches, avg_temp, days_below_30F, days_below_20F, days_below_10F, days_below_0F, days_above_80F, days_above_90F, days_above_100F, days_above_110F, direction_max_wind_speed, direction_peak_wind_speed, max_wind_speed, days_with_fog, site_eui.

In [18]:
pd.set_option("display.max_rows",100)

In [19]:
raw_data_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Year_Factor,75757.0,4.367755,1.471441,1.000000,3.000000,5.000000,6.000000,6.000000e+00
floor_area,75757.0,165983.865858,246875.790940,943.000000,62379.000000,91367.000000,166000.000000,6.385382e+06
year_built,73920.0,1952.306764,37.053619,0.000000,1927.000000,1951.000000,1977.000000,2.015000e+03
energy_star_rating,49048.0,61.048605,28.663683,0.000000,40.000000,67.000000,85.000000,1.000000e+02
ELEVATION,75757.0,39.506323,60.656596,-6.400000,11.900000,25.000000,42.700000,1.924500e+03
january_min_temp,75757.0,11.432343,9.381027,-19.000000,6.000000,11.000000,13.000000,4.900000e+01
january_avg_temp,75757.0,34.310468,6.996108,10.806452,29.827586,34.451613,37.322581,6.475806e+01
january_max_temp,75757.0,59.054952,5.355458,42.000000,56.000000,59.000000,62.000000,9.100000e+01
february_min_temp,75757.0,11.720567,12.577272,-13.000000,2.000000,9.000000,20.000000,4.800000e+01
february_avg_temp,75757.0,35.526837,8.866697,13.250000,31.625000,34.107143,40.879310,6.510714e+01
february_max_temp,75757.0,58.486278,8.414611,38.000000,55.000000,61.000000,62.000000,8.900000e+01
march_min_temp,75757.0,21.606281,10.004303,-9.000000,13.000000,25.000000,27.000000,5.200000e+01
march_avg_temp,75757.0,44.469292,6.657142,25.854839,38.096774,44.516129,49.354839,6.975806e+01
march_max_temp,75757.0,70.897831,7.680982,53.000000,62.000000,71.000000,78.000000,9.500000e+01
april_min_temp,75757.0,32.037171,5.577279,15.000000,26.000000,32.000000,37.000000,5.200000e+01
april_avg_temp,75757.0,53.784863,2.500473,40.280000,52.333333,53.333333,54.766667,7.450000e+01
april_max_temp,75757.0,82.661932,4.101028,62.000000,80.000000,82.000000,87.000000,1.040000e+02
may_min_temp,75757.0,44.706179,4.200319,23.000000,42.000000,45.000000,49.000000,5.800000e+01
may_avg_temp,75757.0,63.742547,2.792919,46.950000,62.790323,62.887097,65.096774,8.211290e+01
may_max_temp,75757.0,88.987856,2.864669,64.000000,88.000000,89.000000,91.000000,1.120000e+02
june_min_temp,75757.0,51.131763,3.415926,30.000000,50.000000,52.000000,53.000000,6.800000e+01
june_avg_temp,75757.0,71.066384,2.861681,54.100000,70.983333,72.250000,72.450000,8.955000e+01
june_max_temp,75757.0,91.400280,3.604068,67.000000,89.000000,90.000000,94.000000,1.190000e+02
july_min_temp,75757.0,60.571604,4.177109,37.000000,57.000000,63.000000,63.000000,7.400000e+01
july_avg_temp,75757.0,76.596879,4.090275,54.822581,76.145161,78.677419,78.790323,9.443548e+01
july_max_temp,75757.0,95.543950,4.157118,65.000000,95.000000,96.000000,98.000000,1.170000e+02
august_min_temp,75757.0,58.515068,4.441992,31.000000,57.000000,61.000000,61.000000,7.700000e+01
august_avg_temp,75757.0,75.348749,3.818895,56.693548,74.516129,75.725806,78.967742,9.490323e+01
august_max_temp,75757.0,92.572581,4.139685,66.000000,90.000000,91.000000,95.000000,1.160000e+02
september_min_temp,75757.0,50.791689,4.290884,26.000000,47.000000,52.000000,54.000000,6.500000e+01
september_avg_temp,75757.0,69.597545,3.603773,53.600000,68.200000,69.733333,71.800000,9.011667e+01
september_max_temp,75757.0,92.171139,5.011708,64.000000,91.000000,92.000000,96.000000,1.110000e+02
october_min_temp,75757.0,38.210911,5.093899,18.000000,35.000000,38.000000,40.000000,6.100000e+01
october_avg_temp,75757.0,58.727038,2.641300,44.693548,58.048387,58.758065,59.629032,8.074194e+01
october_max_temp,75757.0,81.135671,5.579513,59.000000,78.000000,80.000000,85.000000,1.080000e+02
november_min_temp,75757.0,28.630397,7.153244,4.000000,23.000000,31.000000,34.000000,5.200000e+01
november_avg_temp,75757.0,48.123133,4.094207,30.766667,45.250000,47.116667,51.339286,6.741667e+01
november_max_temp,75757.0,71.202397,4.373374,53.000000,69.000000,72.000000,74.000000,9.600000e+01
december_min_temp,75757.0,22.736777,9.014047,-16.000000,17.000000,24.000000,28.000000,4.400000e+01
december_avg_temp,75757.0,41.625569,5.869386,23.790323,38.532258,40.516129,43.435484,6.179032e+01
december_max_temp,75757.0,64.496852,6.054104,42.000000,60.000000,65.000000,71.000000,8.600000e+01
cooling_degree_days,75757.0,1202.250446,391.561780,0.000000,1128.000000,1277.000000,1489.000000,4.948000e+03
heating_degree_days,75757.0,4324.957390,824.366727,398.000000,3978.000000,4337.000000,4670.000000,7.929000e+03
precipitation_inches,75757.0,42.430651,10.592205,0.000000,39.350000,42.170000,46.320000,1.076900e+02
snowfall_inches,75757.0,29.136379,17.810894,0.000000,9.600000,31.600000,49.100000,1.273000e+02
snowdepth_inches,75757.0,164.862455,175.275869,0.000000,10.000000,101.000000,377.000000,1.292000e+03
avg_temp,75757.0,56.176705,2.241940,44.512329,55.147541,56.835616,57.215847,7.724521e+01
days_below_30F,75757.0,48.756511,27.587124,0.000000,22.000000,50.000000,66.000000,1.700000e+02
days_below_20F,75757.0,17.447932,14.469435,0.000000,5.000000,11.000000,26.000000,9.300000e+01
days_below_10F,75757.0,4.886532,7.071221,0.000000,0.000000,2.000000,7.000000,5.900000e+01
days_below_0F,75757.0,0.876764,2.894244,0.000000,0.000000,0.000000,0.000000,3.100000e+01
days_above_80F,75757.0,82.709809,25.282913,0.000000,72.000000,84.000000,97.000000,2.600000e+02
days_above_90F,75757.0,14.058701,10.943996,0.000000,6.000000,12.000000,17.000000,1.850000e+02
days_above_100F,75757.0,0.279539,2.252323,0.000000,0.000000,0.000000,0.000000,1.190000e+02
days_above_110F,75757.0,0.002442,0.142140,0.000000,0.000000,0.000000,0.000000,1.600000e+01
direction_max_wind_speed,34675.0,66.552675,131.147834,1.000000,1.000000,1.000000,1.000000,3.600000e+02
direction_peak_wind_speed,33946.0,62.779974,130.308106,1.000000,1.000000,1.000000,1.000000,3.600000e+02
max_wind_speed,34675.0,4.190601,6.458789,1.000000,1.000000,1.000000,1.000000,2.330000e+01
days_with_fog,29961.0,109.142051,50.699751,12.000000,88.000000,104.000000,131.000000,3.110000e+02
site_eui,75757.0,82.584693,58.255403,1.001169,54.528601,75.293716,97.277534,9.978661e+02
id,75757.0,37878.000000,21869.306509,0.000000,18939.000000,37878.000000,56817.000000,7.575600e+04

# Attempt 1
<p> I'll just drop the columns with the missing values. Those are energy_star_rating, direction_max_wind_speed, direction_peak_wind_speed, max_wind_speed, days_with_fog and year_built.</p> 
<p> We will alternatively explore year_built to see if we can treat it instead of dropping it.</p>

In [28]:
# How many rows have the value 0 in year_built.
#(myDataFrame[column_name] == 0).sum()
(raw_data_df["year_built"] == 0).sum()

6

In [31]:
# How many rows are null in year_built
raw_data_df["year_built"].isnull().sum()

1837

For attempt_1, I'll also drop the year_built

In [32]:
trim_data_1_df = raw_data_df.drop(columns=["energy_star_rating", "direction_max_wind_speed", "direction_peak_wind_speed", "max_wind_speed", "days_with_fog", "year_built"])

In [35]:
len(raw_data_df.columns)

64

In [36]:
len(trim_data_1_df.columns)

58

In [37]:
trim_data_1_df.count()

Year_Factor             75757
State_Factor            75757
building_class          75757
facility_type           75757
floor_area              75757
ELEVATION               75757
january_min_temp        75757
january_avg_temp        75757
january_max_temp        75757
february_min_temp       75757
february_avg_temp       75757
february_max_temp       75757
march_min_temp          75757
march_avg_temp          75757
march_max_temp          75757
april_min_temp          75757
april_avg_temp          75757
april_max_temp          75757
may_min_temp            75757
may_avg_temp            75757
may_max_temp            75757
june_min_temp           75757
june_avg_temp           75757
june_max_temp           75757
july_min_temp           75757
july_avg_temp           75757
july_max_temp           75757
august_min_temp         75757
august_avg_temp         75757
august_max_temp         75757
september_min_temp      75757
september_avg_temp      75757
september_max_temp      75757
october_min_temp        75757
october_avg_temp        75757
october_max_temp        75757
november_min_temp       75757
november_avg_temp       75757
november_max_temp       75757
december_min_temp       75757
december_avg_temp       75757
december_max_temp       75757
cooling_degree_days     75757
heating_degree_days     75757
precipitation_inches    75757
snowfall_inches         75757
snowdepth_inches        75757
avg_temp                75757
days_below_30F          75757
days_below_20F          75757
days_below_10F          75757
days_below_0F           75757
days_above_80F          75757
days_above_90F          75757
days_above_100F         75757
days_above_110F         75757
site_eui                75757
id                      75757
dtype: int64

The